<!-- views/edit.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Expense</title>
    <link rel="stylesheet" href="/styles_index.css">
</head>

<body>
    <h1>Edit Expense</h1>
    <form action="/edit/<%= expense._id %>" method="POST">
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" value="<%= expense.description %>" required><br>
        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount" step="0.01" value="<%= expense.amount %>" required><br>
        <label for="category">Category:</label>
        <input type="text" id="category" name="category" value="<%= expense.category %>" required><br>
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" value="<%= expense.date.toISOString().split('T')[0] %>" required><br>
        <button type="submit">Update Expense</button>
    </form>
</body>

</html>
